body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:552px;
  overflow:hidden;
}
#u6713_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:552px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6713_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:62px;
  font-size:18px;
  color:#FFFFFF;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:414px;
  width:80px;
  height:80px;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:432px;
  width:46px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:504px;
  width:80px;
  height:18px;
  text-align:center;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:375px;
  height:40px;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:127px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6726 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:162px;
  width:120px;
  height:28px;
  color:#000000;
  text-align:left;
}
#u6727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u6728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6728 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:167px;
  width:39px;
  height:18px;
}
#u6729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u6730 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:167px;
  width:21px;
  height:19px;
}
#u6731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6733 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:213px;
  width:80px;
  height:80px;
}
#u6734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6735 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:245px;
  width:31px;
  height:33px;
  font-size:28px;
}
#u6736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u6737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6737 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:224px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u6738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6739 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:260px;
  width:13px;
  height:14px;
  font-size:12px;
}
#u6740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6742 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:213px;
  width:80px;
  height:80px;
}
#u6743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6744 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:245px;
  width:31px;
  height:33px;
  font-size:28px;
}
#u6745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u6746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6746 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:224px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u6747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6748 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:260px;
  width:13px;
  height:14px;
  font-size:12px;
}
#u6749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:213px;
  width:112px;
  height:80px;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:248px;
  width:44px;
  height:33px;
  font-size:28px;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u6755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:224px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u6756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6757 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:263px;
  width:13px;
  height:14px;
  font-size:12px;
}
#u6758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:357px;
  width:375px;
  height:40px;
}
#u6761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:127px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:363px;
  width:120px;
  height:28px;
  color:#000000;
  text-align:left;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u6764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:368px;
  width:39px;
  height:18px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:368px;
  width:21px;
  height:19px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:414px;
  width:80px;
  height:80px;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:432px;
  width:46px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:504px;
  width:80px;
  height:18px;
  text-align:center;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:414px;
  width:80px;
  height:80px;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:432px;
  width:46px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:504px;
  width:80px;
  height:18px;
  text-align:center;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:162px;
  width:380px;
  height:74px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u6784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:176px;
  width:60px;
  height:1px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:246px;
  width:375px;
  height:57px;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:255px;
  width:275px;
  height:40px;
  font-size:12px;
  color:#999999;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:275px;
  word-wrap:break-word;
}
#u6790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:43px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:249px;
  width:45px;
  height:43px;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:252px;
  width:98px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u6794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:112px;
  width:99px;
  height:30px;
  color:#FFFFFF;
}
#u6794_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6794.selected {
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u6796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:317px;
  width:99px;
  height:30px;
  color:#FFFFFF;
}
#u6796_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6796.selected {
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:543px;
  width:80px;
  height:80px;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:561px;
  width:46px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:633px;
  width:80px;
  height:18px;
  text-align:center;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:543px;
  width:80px;
  height:80px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:561px;
  width:46px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:633px;
  width:80px;
  height:18px;
  text-align:center;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:543px;
  width:80px;
  height:80px;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:561px;
  width:46px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:633px;
  width:80px;
  height:18px;
  text-align:center;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
.u6820_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:119px;
  height:33px;
}
.u6820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  color:#CCCCCC;
}
.u6820_img.selected {
}
.u6820.selected {
}
.u6821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u6819-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6819-2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:30px;
}
#u6819-3 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:30px;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:62px;
  width:348px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:2px;
  width:50px;
  height:50px;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:62px;
  width:117px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:62px;
  width:117px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:62px;
  width:117px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:616px;
  width:375px;
  height:51px;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#000000;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:624px;
  width:24px;
  height:23px;
  font-size:11px;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:626px;
  width:24px;
  height:17px;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:626px;
  width:24px;
  height:24px;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:624px;
  width:24px;
  height:23px;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:618px;
  width:66px;
  height:43px;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:620px;
  width:39px;
  height:39px;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:618px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:617px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u6860 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:33px;
  width:24px;
  height:19px;
}
#u6861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u6862 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:41px;
  width:11px;
  height:6px;
}
#u6863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:617px;
  width:81px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6867 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:27px;
  width:31px;
  height:31px;
}
#u6868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u6869 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:33px;
  width:14px;
  height:20px;
}
#u6870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6872 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:33px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u6874 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:42px;
  width:11px;
  height:6px;
}
#u6875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u6876 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:30px;
  width:27px;
  height:25px;
}
#u6877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
