body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:73px;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:125px;
  width:380px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u5421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:139px;
  width:60px;
  height:1px;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:616px;
  width:375px;
  height:51px;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u5429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:624px;
  width:24px;
  height:23px;
  font-size:11px;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u5434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:626px;
  width:24px;
  height:17px;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u5439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:626px;
  width:24px;
  height:24px;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u5444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:624px;
  width:24px;
  height:23px;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:618px;
  width:66px;
  height:43px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:620px;
  width:39px;
  height:39px;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:618px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:617px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:617px;
  width:81px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:618px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:618px;
  width:76px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
