body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u6643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6643 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:28px;
  width:31px;
  height:31px;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u6650 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:34px;
  width:14px;
  height:20px;
}
#u6651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6653 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:29px;
  width:30px;
  height:30px;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:152px;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:140px;
  width:337px;
  height:152px;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u6657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:258px;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:325px;
  width:337px;
  height:258px;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
.u6660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
.u6660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  color:#CCCCCC;
}
.u6660_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
.u6660.selected {
}
.u6661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6659-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u6659-2 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:187px;
  height:40px;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:64px;
  width:187px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:187px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:124px;
  width:85px;
  height:18px;
  font-size:14px;
  text-align:center;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u6668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:11px;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:127px;
  width:18px;
  height:11px;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:375px;
  height:143px;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:174px;
  width:30px;
  height:18px;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:174px;
  width:15px;
  height:18px;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u6680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u6680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#000000;
}
.u6681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
.u6682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
.u6682 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:17px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
.u6683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-11px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u6678-2 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:110px;
  height:30px;
}
#u6678-3 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:0px;
  width:110px;
  height:30px;
}
#u6678-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:30px;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:202px;
  width:358px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
